<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>slanter.py</string>
			<key>preferredName</key>
			<string>Slanter</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>TypeMyType</string>
	<key>developerURL</key>
	<string>http://typemytype.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Slanter</string>
	<key>timeStamp</key>
	<real>1425243187.389662</real>
	<key>version</key>
	<string>1.0</string>
	<key>repository</key>
	<string>typemytype/slanterRoboFontExtension</string>
	<key>extensionPath</key>
	<string>Slanter.roboFontExt</string>
</dict>
</plist>
